* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background-color: #36F080;
    font-family: var(--font-familiy-primary);
    overflow-x: hidden;
}


:root{
    --font-familiy-primary: 'JetBrains Mono';
}


.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.1rem;
}


.subtitulo{
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
}

.subtitulo h1{
    font-size: 0.9rem;
    margin-top: 1.2rem;
    font-family: var(--font-familiy-primary);
}

.subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-familiy-primary);
}

.time{
    margin-top: 1.2rem;
}

.text{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    margin-top: 10rem;
}

.text p{
    text-align: left;
    padding: 0 18rem;
    font-family: var(--font-familiy-primary);
}

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: 18rem;
    margin-right: 18rem;
}

.enlace{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contacto{
     background-color: #36F080;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.enlace a{
    text-decoration: none;
    color: #000;
    font-family: var(--font-familiy-primary);
    text-align: center;
    padding: 2rem;
    margin-left: 2rem;
}


.contacto-texto{
    font-family: var(--font-familiy-primary);
    width: 60%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-family: var(--font-familiy-primary);
}

.texto-subrayado{
    text-decoration: underline;
}

.enlace-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.enlace-home a{
    font-family: var(--font-familiy-primary);
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.contacto-contenido{
    display: flex;
    justify-content:space-between; 
    align-items: center;
    width:  100%;
    margin-top: 4rem;
}

.texto-contacto{
    font-family: var(--font-familiy-primary);
    margin-right: 6rem; 
}

.logo-suin{
    position: fixed;
    top: 10%;
    
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
    .contenedor-imagen{
            width: 100%;
            margin-bottom: 2rem;
        }   

    .contenedor-imagen img{
        width: 80%;
}   

    .contacto-contenido{
        flex-direction: column;
    }

    .logo-suin{
        left: -10%;
        width: 90%;
    }


} 